<?xml version="1.0"?>
<robot name="$(arg robotName)" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="laser_visual"  default="false"/>
  <xacro:arg name="camera_visual" default="false"/>
  <xacro:arg name="imu_visual"    default="false"/>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>


<!-- FOR 2-in-1 -->
  <gazebo reference="chassis_1">
      <material>Gazebo/CeilingTiled</material>
  </gazebo>

  <gazebo reference="A2_top_1">
      <material>Gazebo/PointCloud</material>
      <mu1>10</mu1>
      <mu2>10</mu2>
      <kp>1000000</kp> 
      <kd>10</kd>
      <maxVel>0.</maxVel>
      <minDepth>0.001</minDepth>
  </gazebo>

  <gazebo reference="wheel_left_link_1">
    <mu1>10</mu1>
    <mu2>5</mu2>
    <kp>1000000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>3</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="wheel_right_link_1">
    <mu1>10</mu1>
    <mu2>5</mu2>
    <kp>1000000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>3</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="chassis_1">
    <sensor type="imu" name="imu">
      <always_on>true</always_on>
      <visualize>true</visualize>
    </sensor>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo>
    <plugin name="imu_plugin_1" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>chassis_1</bodyName>
      <frameName>imu_link_1</frameName>
      <topicName>imu_1</topicName>
      <serviceName>imu_service_1</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>20</updateRate>
      <imu>
        <noise>
          <type>gaussian</type>
          <rate>
            <mean>0.0</mean>
            <stddev>2e-4</stddev>
            <bias_mean>0.0000075</bias_mean>
            <bias_stddev>0.0000008</bias_stddev>
          </rate>
          <accel>
            <mean>0.0</mean>
            <stddev>1.7e-2</stddev>
            <bias_mean>0.1</bias_mean>
            <bias_stddev>0.001</bias_stddev>
          </accel>
        </noise>
      </imu>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="solamr_controller_1" filename="libgazebo_ros_diff_drive.so">
      <commandTopic>cmd_vel_1</commandTopic>
      <odometryTopic>odom_1</odometryTopic>
      <odometryFrame>odom_1</odometryFrame>
      <odometrySource>world</odometrySource>
      <publishOdomTF>false</publishOdomTF>
      <robotBaseFrame>chassis_1</robotBaseFrame>
      <publishWheelTF>false</publishWheelTF>
      <publishTf>true</publishTf>
      <publishWheelJointState>false</publishWheelJointState>
      <legacyMode>false</legacyMode>
      <updateRate>30</updateRate>
      <leftJoint>wheel_left_joint_1</leftJoint>
      <rightJoint>wheel_right_joint_1</rightJoint>
      <wheelSeparation>0.20</wheelSeparation>
      <wheelDiameter>0.099</wheelDiameter>
      <wheelAcceleration>10</wheelAcceleration>
      <wheelTorque>100</wheelTorque>
      <rosDebugLevel>na</rosDebugLevel>
    </plugin>
  </gazebo>

  <gazebo reference="chassis_2">
      <material>Gazebo/CeilingTiled</material>
  </gazebo>

  <gazebo reference="A2_top_2">
      <material>Gazebo/PointCloud</material>
      <mu1>10</mu1>
      <mu2>10</mu2>
      <kp>1000000</kp> 
      <kd>10</kd>
      <maxVel>0.</maxVel>
      <minDepth>0.001</minDepth>
  </gazebo>

  <gazebo reference="wheel_left_link_2">
    <mu1>10</mu1>
    <mu2>5</mu2>
    <kp>1000000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>3</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="wheel_right_link_2">
    <mu1>10</mu1>
    <mu2>5</mu2>
    <kp>1000000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>3</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <gazebo reference="chassis_2">
    <sensor type="imu" name="imu">
      <always_on>true</always_on>
      <visualize>true</visualize>
    </sensor>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo>
    <plugin name="imu_plugin_2" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>chassis_2</bodyName>
      <frameName>imu_link_2</frameName>
      <topicName>imu_2</topicName>
      <serviceName>imu_service_2</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>20</updateRate>
      <imu>
        <noise>
          <type>gaussian</type>
          <rate>
            <mean>0.0</mean>
            <stddev>2e-4</stddev>
            <bias_mean>0.0000075</bias_mean>
            <bias_stddev>0.0000008</bias_stddev>
          </rate>
          <accel>
            <mean>0.0</mean>
            <stddev>1.7e-2</stddev>
            <bias_mean>0.1</bias_mean>
            <bias_stddev>0.001</bias_stddev>
          </accel>
        </noise>
      </imu>
    </plugin>
  </gazebo>


  <gazebo>
    <plugin name="solamr_controller_2" filename="libgazebo_ros_diff_drive.so">
      <commandTopic>cmd_vel_2</commandTopic>
      <odometryTopic>odom_2</odometryTopic>
      <odometryFrame>odom_2</odometryFrame>
      <odometrySource>world</odometrySource>
      <publishOdomTF>false</publishOdomTF>
      <robotBaseFrame>chassis_2</robotBaseFrame>
      <publishWheelTF>false</publishWheelTF>
      <publishTf>true</publishTf>
      <publishWheelJointState>false</publishWheelJointState>
      <legacyMode>false</legacyMode>
      <updateRate>30</updateRate>
      <leftJoint>wheel_left_joint_2</leftJoint>
      <rightJoint>wheel_right_joint_2</rightJoint>
      <wheelSeparation>0.20</wheelSeparation>
      <wheelDiameter>0.099</wheelDiameter>
      <wheelAcceleration>10</wheelAcceleration>
      <wheelTorque>100</wheelTorque>
      <rosDebugLevel>na</rosDebugLevel>
    </plugin>
  </gazebo>
<!-- END of  2-in-1 -->

</robot>
