<?xml version="1.0" ?>
<robot name="stl_test">

  <!-- ////////////////////////////////////////////////////////////-->
  <!-- chassis-->
  <link name="chassis">
    <visual>
      <origin rpy="-1.57 0 1.57" xyz="1 1 0"/>
      <geometry>
        <mesh filename="package://amr_description/meshes/test_for_gazebo.stl" scale="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <collision>
       <origin rpy="-1.57 0 1.57" xyz="1 1 0"/>
       <geometry>
        <mesh filename="package://amr_description/meshes/test_for_gazebo.stl" scale="0.01 0.01 0.01"/>
        </geometry>
     </collision>
     <inertial>
         <mass value="5.0"/>
              <inertia ixx="1.0" ixy="0.0"
                       iyy="1.0" iyz="0.0"
                       izz="1.0" ixz="0.0"/>
   </link>
</robot>
